<h2>Binding to strings with selectionChange event</h2>
<div class="example-tag-input">
  <ngb-tag-input [data]="states" [(ngModel)]="selectedStrings1" [disabled]="disabled" (selectionChange)="selectionChanges($event)"></ngb-tag-input>
  <br>
  <button class="btn btn-primary" (click)="toggleDisabled()">toggle disabled</button>
</div>
<pre>
  Selected Values: {{selectedStrings1 | json}}
</pre>
<h2>Binding to strings with Max Select count = 3</h2>
<form #form="ngForm">
  <div class="example-tag-input">
      <ngb-tag-input #mymultiselect name="mymultiselect" [data]="states" [(ngModel)]="selectedStrings2" [maxSelectCount]="3"></ngb-tag-input>
  </div>
</form>
<pre>
  Selected Values: {{selectedStrings2 | json}}
</pre>
<h2>Binding to objects with selectionChange event</h2>
<div class="example-tag-input">
  <ngb-tag-input [data]="stateObjects" [searchField]="'name'" [(ngModel)]="selectedObjects1" (selectionChange)="selectionChanges($event)"></ngb-tag-input>
</div>
<pre>
  Selected Values: {{selectedObjects1 | json}}
</pre>
<h2>Binding to objects with custom searchFunc</h2>
<div class="example-tag-input">
  <ngb-tag-input [data]="stateObjects" [searchField]="'name'" [(ngModel)]="selectedObjects2" [searchFunc]="mySearchFunc"></ngb-tag-input>
</div>
<pre>
  Selected Values: {{selectedObjects1 | json}}
</pre>
